body {
  font-size: 20px;
  color: #fff;
  background-image: url("images/wave-lavenderbeige.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #C3BDDC;
  font-family: "Karla", sans-serif;
  align-items: center;
  justify-content: center;

}

header {
  width: 100%;
  color: #030302;
  justify-content: center;
  align-items: center;
}
header p {
  font-family: "Inconsolata", sans-serif;
  text-align: center;
}
header h1 {
  font-size: 70px;
  font-weight: 500;
  font-family: "Karla", sans-serif;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #000;}
}

@keyframes typing{
  0%{ width: 0ch} /*Text is hidden*/
  30%{ width: 16ch;} /*The enitre header will be typed out*/
  80%{ width: 16ch;} /*Text stays visible*/
  90%{ width: 0ch;} /*Text is deleted*/
  100%{ width: 0ch;} /*Text stays hidden*/
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: #3A646E;
  color: white;
  border-radius: 8px;
  border: 2px solid #28464D;
  font-family: "Inconsolata", sans-serif;
}

button:hover {
  background-color: #28464D;
}

.new {
  margin: 1em 0;
  padding: 12px 19px;
  font-size: 16px;
}

.table {
  margin: 0;
  width: 95%;
  table-layout: fixed;
  padding: 0em 10em 0em 10em;
}

table {
  background-color: #6278AC;
  color: #030302;
  border-collapse: separate;
  width: 100%;
  border: 5px solid #6278AC;
  border-radius: 5px;
  font-family: "Inconsolata", sans-serif;
}

th {
  padding: 15px;
  color: white;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
  text-align: center;
}

tbody {
  background-color: white;

}

.form {
  display: flex;
  flex-direction: column;
}

h2,
legend,
span {
  color: #030302;
  font-family: "Inconsolata", sans-serif;
  align-items: center;
}

fieldset label {
  margin-left: 1em;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

.button-group {
  margin-top: 2em;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  margin: 10px 0;
}

.errorInput {
  border: 2px solid #d5001f;
}

.errorText {
  color: #d5001f;
}